<%- include("partial/header.ejs") %>
    <%- include("partial/nav.ejs") %>

        <div class="container">
            <h2>User Dashboard</h2>

            <h4>Welcome
                <%- data.username %> <br> Your Mail ID is
                    <%- data.email %>
            </h4>

            <%- include("partial/footer.ejs") %>