<%- include("partial/header") %> <%- include("partial/nav") %>

<div class="container">
  <h2>Super Admin Dashboard</h2>

  <h4>
    Welcome <%- data.username %> <br />
    Your Mail ID is <%- data.email %>
  </h4>

  <%- include("partial/footer") %>
</div>
